body{
    display:flex;
    width:100%;
    height:100%;
    font-family: sans-serif;
}
#landingContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
} 
#navAndLogoContainer{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
#goatCover{
    width:100%;
    height:50%;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
    color:whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../images/fakeGoat5.jpg');
    padding-bottom:5%;
    padding-top:10%;
    margin-bottom:5%;
}
 .bannerTitle {
    font-size: 5rem;
    font-weight:lighter;
    margin:0%;
 }
 #subBannerTitle a{
     text-decoration:none;
     color:white;
 }
  #subBannerTitle{
       padding:1%;
  }
 #subBannerTitle:hover{
    background-color:darkgreen;
 }

/* Navbar section Below */

.navbar {
    display:flex;
    width:50%;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    white-space: nowrap;
    font-size: 1.25em;
    padding:.75%;
  } 

  /* Gives <a> element text color and removes underline */
  .navbar a {
    color: black;
    text-decoration: none;
    padding:.5em;
  }

  /* Removes premade styling and resizes button, sizes & colors the text*/
  .dropButton{
    font-size: 1em;
    border: none;
    outline: none;
    color: black;
    padding:.5em 1.25em;
    background:white;
  }
  /* Makes is so that when all items (except the dropdown a elements) change color when hovered over */
  .navbar a:hover, .dropdown:hover .dropButton {
    color: rgba(48, 147, 61, 0.803);
    background-color: whitesmoke;
  }
  
  /* Hides dropdown menu until it's hovered over & prevents subnav from moving the whole nav bar spacing  */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(255, 253, 253);
  }
  /* When it hovers the text and background change color */
  .dropdownContent a:hover {
    background-color: green;
    color:white;
  }

  /* Allows the drop down menu to be visible when hovered over  */
  .dropdown:hover .dropdownContent {
    display:flex;
    flex-direction:column;
  } 

  /* End of Nav Bar CSS */

#landingContainerTop{
    display:Flex;
    width:100%;
    margin-bottom:5%;
}


#landingSubContainer1{
    display:flex;
    width:50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/fakeGoat1.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
#landingSubContainer2{
    display:flex;
    width:50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/fakeGoat2.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;  
}
#landingContainerBottom{
    display:Flex;
    width:100%;
}
#landingSubContainer3{
    display:flex;
    width:50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/fakeGoat3.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingSubContainer4{
    display:flex;
    width:50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/fakeGoat4.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
#landingSubContainer1 a{
    text-decoration:none;
    text-align: center;
    padding-bottom:2%;
    width:30%;
    margin-bottom:25%; 
}
#landingSubContainer2 a{
    text-decoration:none;
    text-align: center;
    padding-bottom:2%;
    width:30%;
    margin-bottom:25%; 
}
#landingSubContainer3 a{
    text-decoration:none;
    text-align: center;
    padding-bottom:2%;
    width:30%;
    margin-bottom:25%;  
}
#landingSubContainer4 a{
    text-decoration:none;
    text-align: center;
    padding-bottom:2%;
    width:30%;
    margin-bottom:25%;  
}
.landingFont1, .landingFont2{
    color: white;
}
.landingFont1{
    margin-top:25%;
    margin-bottom:0;
    font-size:2.25em;
}
.landingFont2{
    margin-top:0.5%;

    font-weight: lighter;
    font-size:1.25em;
    background-color:rgba(55, 55, 55, 0.6);
    border: 1px solid rgba(255, 217, 0, 0.4);
    padding:2.5%;
}
.landingFont2:hover{
    background-color: darkgreen;
}

.socialMediaImages{
    max-width:200px;
    max-height:200px;
}
#socialMediaContainer{
    display: flex;
    width:100%;
    justify-content: space-between;
}
/* div + p{
    font-weight: bolder;
    margin: 5% auto 2.5% auto;
} */
 div + div + p  a{
    text-decoration: none;
    color:green;
    font-size:2em;
    display:block;
    padding: 5% 0%;
}
p  a:hover{
    color:grey;
}
hr.bottomLine{
    width:100%;
    border-top: 1px solid green;
    margin-top:5%;
}
footer{
    display:flex;
    /* flex-wrap:wrap; */
    width:100%;
    /* justify-content:space-between; */
    color:green;
    font-size:1.2em;
    margin-top:1%;
    align-items:center;
}
footer p{
    margin-left:3%;
    padding:0; 
    min-width:60%;
}
footer  a{
    width:100%;
    text-decoration:none;
    color:green;
    font-size:.75em;
    margin-left:1%;
}
footer  a:hover{
    color:rgb(211, 211, 211);
}
footer  a:first-of-type{
    margin-left:0;
}
footer  a:last-of-type{
    margin-right:2%;
}
a img{
    opacity: .4;
    height:5%;
    border-radius:50%;
}

/* CONTACT US PAGE CSS */
/* controls image background behind form */
div + img + h1{
    text-align:center;
    margin-bottom:0;
}
img + h1 + p{
    color:darkgreen;
    text-align: center;
    margin:0;
    padding:.5% 2% 1% 2%;
    border:none;
    border-bottom:2px solid rgba(255, 217, 0, 0.8);
}
#formBackground{
    margin-top:5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fakeGoat4.jpg");
    padding:10%;
    width:75%;
    border:10px double rgba(211, 211, 211, 0.2);
}
/* controls background and orientation of form */
#formContainer{
    background-image:linear-gradient(rgb(58, 58, 58), rgb(94, 94, 94));
    padding:2.5% 5%;
    color:whitesmoke;
    border:5px double rgba(44, 63, 44, 0.5);
    font-weight: lighter;
}

/* controls "question?" at top of form */
 div + img + h1{
    color:green;
    font-weight:lighter;
}
/* controls "we'd love to hear from you" message */
h1 + h5{
    font-weight: lighter;
    font-size: 1.2em;
    margin:0%;
}
/* controls comments organization */
#commentsDiv{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
/* controls comments label */
label{
    display:block;
    margin-top:6%;
    color:green;
    font-size:1.5em;
}
input[type^="text"], input[type^="email"]{
    width:70%;
    height:2em;
}
textarea{
    margin-top:2%;
    width:70%;
    height:14em;
}
/* controls submit "button" */
input[type^="submit"]{
    margin:5% auto 2.5% 0%;
    color:white;
    background-color:green;
    padding:1% 2.5%;
    font-size:1.25em;
    border:none;
}



/* ABOUT PAGE CSS */
#aboutGoatBackground{
    width:90%;
    padding:5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../images/fakeGoat4.jpg");
}
    
#aboutGoatBackground img{
    width:50%;
}
.aboutSubContainer{
    display:flex;
    flex-direction: row;
    align-items:stretch;
    overflow: scroll;
}
.aboutSubContainer img{
    height:100%;
    border:1px solid rgba(255, 217, 0, 0.2);
}
/* Controls Green h2 labels above pics and text blocks */
div + img + div > h2{
 color:darkgreen;
 font-size: 2.5em;
 text-align:center;
 padding:4%;
 background-color:rgba(250,250,250,.7);
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-transform: uppercase;
 font-weight:lighter;
 border:10px solid rgba(255, 217, 0, 0.2);
}
/* Creates spacing between content blocks apart from top block */
div + img + div > h2:not(:first-child){
margin-top:15%;
}
h2 + div  img ~ p{
    color:whitesmoke;
    margin: 0% 0% 0% 5%;
    font-size: 1.2em;
    line-height:2;
    padding:2.5%;
    background-color:rgba(250,250,250,.1);
    text-align: center;
    border:1px solid rgba(255, 217, 0, 0.4);
}
h2 + p{
    color:whitesmoke;
    margin: 0% 0% 5% 0%;
    font-size: 2em;
    line-height:2;
    text-align:center;
    background-color:rgba(250,250,250,.1);
    padding: 5% 0% 5% 0%;
    font-weight:lighter;
    border:1px solid rgba(255, 217, 0, 0.4);
}

/* Controls the contact page form */
form{
    display:flex;
    width:95%;
    flex-direction:column;
    background-color:white;
    border:6px double green;
    padding:2%;
}
label{
    color:darkgreen;
    font-size:1.25em;
}
input{
    background-color:lightgrey;
    color:white;
    padding:.5%;
}
legend{
    color:darkgreen;
}
fieldset{
    margin-top:5%;
    /* max-width:85%; */
}
select{
   border: 1px solid green;
   padding:.5%;
}
::placeholder{
    font-size:1.5em;
}
input:enabled[type="submit"]{
    background-color:green;
    color:white;
    padding:.5% 2%;
    font-size:1.5em;
}
input:enabled[type="submit"]:hover{
   color:lightgrey;
}
#FarmLogo{
    opacity: 1;
}
/* Controls the hamburger Icon */
.hamburgerContainer{
    display:none;
}

/* CSS FOR MOBILE */
/* make the whole container view width */
@media only screen and (max-width: 600px) {
    body{
        display:flex;
    }
    #landingContainer{
        width:100vw;
        margin:0;
    }
    /* affect the nav and logo */
   #navAndLogoContainer{
    display:flex;
    width:100vw;
    flex-direction: column;
    justify-content: center;
}
/* controls top banner main text */
.bannerTitle{
    font-size:2.5em;
    text-align:center;
     background-color:rgba(0, 128, 0, 0.6);
}
.landingFont2{
    width:100%;
    margin:0;
    padding:5%;
}
/* make the nav list items stack*/
.navbar{
    display:flex;
    flex-direction:column;
}
/* make the top 2 image links stack */
#landingContainerTop{
    display:flex;
    flex-direction:column;
    width:100%;
}
/* make the 1st image link full size */
#landingSubContainer1{
    width:100%;
    margin:0
}
/* make the 2st image link full size */
#landingSubContainer2{
    width:100%;
    margin:5% 0% 0% 0%;
}
/* make the bottom 2 image links stack */
#landingContainerBottom{
    display:flex;
    flex-direction:column;
    width:100%;
}
/* make the 3rd image link full size */
#landingSubContainer3{
    width:100%;
    margin:0;
}
/* make the 4th image link full size */
#landingSubContainer4{
    width:100%;
    margin:5% 0% 0% 0%;
}
/* make the social media images stack */
#socialMediaContainer {
    width:100vw;
    display:flex;
    flex-direction:column;
    background-image:radial-gradient(white,lightgrey);
}
/* give the individual social media images space*/
.socialMediaImages{
    width:100%;
    margin:auto;
    margin-top:5%;
    }
/* give the last social media images space below*/
.socialMediaImages:last-of-type{
margin-bottom:5%;
}
/* controls the facebook link*/
    div + div + p a{
        text-align:center;
    }
/* Controls the footer*/
footer{
    display:flex;
    flex-direction:column;
    background-color:rgba(0, 128, 0, 0.247);
}
/* Controls the middle footer a*/
footer a{
    margin-left:1%;
}
/* Controls the 1st footer a*/
footer a:first-of-type{
    margin:0% 0% 0% 1%;
}
/* Controls the last footer a*/
footer a:last-of-type{
    margin:0% 0% 0% 1%;
}
/* Controls the last footer valid checkers*/
.footerValid{
    background-color:rgba(0, 128, 0, 0.247);
    width:99%;
    color:white;
    padding-top:1%;
    padding-left:1%;
    text-decoration:none;

}
/* Controls the hamburger icon*/
.hamburgerContainer {
  display:inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.aboutSubContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content:center;
}
.aboutSubContainer img{
    width:100%;
    height:50vw;
    margin:auto;
    margin-bottom:10%;
}
div + img + div > h2{
    font-size:1.5em;
}
div + img + div > h2:first-of-type{
    font-size:1em;
}
}
