body{
    display:flex;
    width:100%;
    height:100%;
    font-family: sans-serif;
}
#landingContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
} 
#navAndLogoContainer{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
#goatCover{
    margin-bottom:5%;
    max-width:100%;
}
#landingContainerTop{
    display:Flex;
    width:100%;
    margin-bottom:5%;
}

/* Navbar section Below */

.navbar {
    display:flex;
    width:50%;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    white-space: nowrap;
    font-size: 1.25em;
    padding:.75%;
  } 

  /* Gives <a> element text color and removes underline */
  .navbar a {
    color: black;
    text-decoration: none;
    padding:.5em;
  }

  /* Removes premade styling from button, sizes & colors the text*/
  .dropbtn{
    font-size: 1em;
    border: none;
    outline: none;
    color: black;
    padding:.5em;
  }
  /* Makes is so that when all items (except the dropdown a elements) change color when hovered over */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: rgba(48, 147, 61, 0.803);
    background-color: whitesmoke;
  }
  
  /* Hides dropdown menu until it's hovered over & prevents subnav from moving the whole nav bar spacing  */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 253, 253);
  }
  /* When it hovers the text and background change color */
  .dropdown-content a:hover {
    background-color: green;
    color:white;
  }

  /* Allows the drop down menu to be visible when hovered over  */
  .dropdown:hover .dropdown-content {
    display:flex;
    flex-direction:column;
  } 

  /* End of Nav Bar CSS */


#landingSubContainer1{
    display:flex;
    width:50%;
    background-image: url('images/fakeGoat1.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
#landingSubContainer2{
    display:flex;
    width:50%;
    background-image: url('images/fakeGoat2.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingContainerBottom{
    display:Flex;
    width:100%;
}
#landingSubContainer3{
    display:flex;
    width:50%;
    background-image: url('images/fakeGoat3.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingSubContainer4{
    display:flex;
    width:50%;
    background-image: url('images/fakeGoat4.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
.landingFont1, .landingFont2{
    color: white;
}
.landingFont1{
    margin-top:25%;
    margin-bottom:0;
}
.landingFont2{
    margin-top:0;
    margin-bottom:25%;
    font-weight: lighter;
}
.socialMediaImages{
    max-width:200px;
    max-height:200px;
}
#socialMediaContainer{
    display: flex;
    width:100%;
    justify-content: space-between;
}
div + p{
    font-weight: bolder;
    margin: 5% auto 2.5% auto;
}
hr.bottomLine{
    width:100%;
    border-top: 1px solid green;
    margin-top:5%;
}